@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
  user-select: text;
  -moz-user-select: text;
}
*::-webkit-scrollbar {
  display: none;
}
*::selection {
  background-color: #feae02;
  color: #000000;
}
:root {
  --white: white;
}

body {
  background-color: #000000;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  color: var(--white);
}
